html {
	background-image: url("Abs.jpeg");
	scroll-behavior: smooth;
	-webkit-tap-highlight-color:transparent;
}

h1 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	text-shadow: 2px 2px 5px green;
}
h2 {
	color: #95E0E8;
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	text-shadow: 2px 2px 5px green;
}
h3 {
	color: #95E0E8;
	font-size: 30px;
	margin: 0;
	padding: 20px 0;
	text-shadow: 2px 2px 5px green;
}
li{
	font-size: 20px;
	COLOR: WHITE;
}

.deco1 {
	overflow: auto
	font-family: 'Comic Neue', cursive;
	background-image: url("greenmt.jpeg");
	width: 1050px;
	margin: 0 auto;
	background-color: white;
	border-radius: .5em;
	padding: 10px 20px 20px 20px;
	border: 5px solid black;
}
.deco3 {
	
	font-family: 'Comic Neue', cursive;
	background-image: url("back.jpg");
	width: 1050px;
	margin: 0 auto;
	background-color: white;
	border-radius: .5em;
	padding: 0px 20px 20px 20px;
	border: 5px solid black;
}
.deco2 {
	background-image: url("Minimal.jpeg");
	width: 1050px;
	margin: 0 auto;
	background-color: white;
	border-radius: .5em;
	padding: 0px 20px 20px 20px;
	border: 5px solid black;
}
.deco4 {
	background-image: url("Horr.png");
	width: 1050px;
	margin: 0 auto;
	background-color: white;
	border-radius: .5em;
	padding: 0px 20px 20px 20px;
	border: 5px solid black;
}
.special {
	color: orange;
	font-weight: bold;
}
a:link {
	color: rgb(226,226,226);
    text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: white;
	text-decoration: none;
  
}

body {
	width: 90%;
	margin: 0 auto;
	font-family: 'Comic Neue', cursive;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
	background-color:  #29AB87;
	background-image: url("Colour.png");
	padding: 0px;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}

*{
	
	box-sizing: border-box;
}
header{
	width: 89%;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	padding: 0px;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	border-radius: .5em;
	background-color: rgb(93,73,84,50%) ;
	transition:background-color 0.1s;
}
header:hover{
	background-color: rgb(93,73,84,100%) ;

}
.nav-links{
	padding: 0px;
	display: flex;
	justify-content: space-around;
	width: 71%;
	font-size: 14px;
}
.nav-links li{
	list-style: none;
	transition:background-color 0.2s;
}
.nav-links a{
	text-decoration: none;
	color: rgb(226,226,226);
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 20px;
	transition-timing-function: ease-in;
	transition: font-size 0.25s;
}
.nav-links-img{
	
}
.nav-links-img img{
	width: 100px;
	height: 100px;
	transition-timing-function: ease-out;
	transition: height 0.25s,width 0.25s,transform 1s;
}
.nav-links-img img:hover{
	width: 150px;
	height: 150px;
	transform: rotate(360deg)
}
.nav-links-img2 img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0);
	border-radius: 1em;
	width: 250px;
	height: 330px;
	transition-timing-function: ease-out;
	transition: height 0.25s,width 0.25s,box-shadow 0.1s;
}
.nav-links-img2 img:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	width: 280px;
	height: 360px;
}
.nav-links-img3 img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0);
	border-radius: 1em;
	width: 400px;
	height: 200px;
	transition-timing-function: ease-out;
	transition: height 0.3s,width 0.3s,box-shadow 0.1s;
}
.nav-links-img3 img:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	width: 460px;
	height: 250px;
}
.nav-links-img4{
	display: flex;
	justify-content: space-around;
}
.nav-links-img4 img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0);
	border-radius: 1em;
	width: 100px;
	height: 100px;
	transition-timing-function: ease-out;
	transition: transform 2s,box-shadow 0.1s;
}
.nav-links-img4 img:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	transform: rotate(360deg)
}
.nav-links-img5 img{
	border-radius: 1em;
	width: 50px;
	height: 50px;
	transition-timing-function: ease-out;
	transition: height 0.3s,width 0.3s;
}
.nav-links-img5 img:hover{
	width: 60px;
	height: 60px;
}
.nav-links a:hover{
	text-decoration: none;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 30px;
}
.burger div{
	width: 25px;
	height: 2px;
	background-color: rgb(226,226,226);
	margin: 5px;
}
.burger{
	display:none;
}
.inks{
	padding: 0px;
	display: flex;
	justify-content: space-around;
	width: 71%;
	font-size: 14px;
	color: rgb(226,226,226);
}
.inks li{
	padding: 0px;
	display: flex;
	justify-content: space-around;
	width: 71%;
	font-size: 14px;
	color: rgb(226,226,226);

}
.inks a{
	padding: 0px;
	display: flex;
	justify-content: space-around;
	width: 71%;
	font-size: 14px;
	color: rgb(226,226,226);

}
.see{
	font-size: 50px;
	color: rgb(0,0,0,0%);
	display: block;
}
.text{
	display: flex;
	color: #FFFF38;
	font-size: 20px;

}
.text2{
	display: flex;
	color: #84DE02;
	font-size: 20px;
}
.text2 a{
	display: flex;
	color: white;
	font-size: 21px;
}
.text2 a:hover{
	display: flex;
	color:  #FFFF38;
	font-size: 21px;
}
@keyframes example{
  0%   {background-color:rgb(20,169,137,10%); left:0px; top:0px;}
  25%  {background-color:rgb(20,169,137,20%); left:200px; top:0px;}
  50%  {background-color:rgb(20,169,137,30%); left:200px; top:200px;}
  75%  {background-color:rgb(20,169,137,40%); left:0px; top:200px;}
  100% {background-color:rgb(20,169,137,50%); left:0px; top:0px;}

}

@keyframes example2{
  0%   {background-color:rgb(255,255,56,10%); left:0px; top:0px;}
  25%  {background-color:rgb(255,255,56,20%); left:200px; top:0px;}
  50%  {background-color:rgb(255,255,56,30%); left:200px; top:200px;}
  75%  {background-color:rgb(255,255,56,40%); left:0px; top:200px;}
  100% {background-color:rgb(255,255,56,50%); left:0px; top:0px;}

}
@keyframes example3{
  0%   {background-color:rgb(118,215,234,10%); left:0px; top:0px;}
  25%  {background-color:rgb(118,215,234,20%); left:200px; top:0px;}
  50%  {background-color:rgb(118,215,234,30%); left:200px; top:200px;}
  75%  {background-color:rgb(118,215,234,40%); left:0px; top:200px;}
  100% {background-color:rgb(118,215,234,50%); left:0px; top:0px;}

}
@keyframes example4{
  0%   {background-color:rgb(218,97,78,10%); left:0px; top:0px;}
  25%  {background-color:rgb(218,97,78,20%); left:200px; top:0px;}
  50%  {background-color:rgb(218,97,78,30%); left:200px; top:200px;}
  75%  {background-color:rgb(218,97,78,40%); left:0px; top:200px;}
  100% {background-color:rgb(218,97,78,50%); left:0px; top:0px;}

}
/* The element to apply the animation to */
.anime {
	text-shadow: 2px 2px 5px black;
	border-radius: 1em;
  background-color: rgb(0,0,0,0%);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease;
}
.anime1 {
	text-shadow: 2px 2px 5px black;
	border-radius: 1em;
  background-color: rgb(0,0,0,0%);
  animation-name: example2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease;
}
.anime2 {
	text-shadow: 2px 2px 5px black;
	border-radius: 1em;
  background-color: rgb(0,0,0,0%);
  animation-name: example3;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease;
}
.anime3 {
	text-shadow: 2px 2px 5px black;
	border-radius: 1em;
  background-color: rgb(0,0,0,0%);
  animation-name: example4;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease;
}
@keyframes ex {
  0%   {left:0px; top:0px;}
  100%  {left:0px; top:10px;}
}
.toptag {
  width: 100px;
  height: 100px;
  background-color: <0,0,0,0%>;
  position: relative;
  animation-name: ex ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}